@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {

    .header {
        font-family: 'Poppins', sans-serif;
        align-items: center;
        justify-content: center;
        display: flex;     
    }

}